
@{
    ViewBag.Title = "Thông tin Account";
}

<div class="box box-primary">
    <div class="box-body">
        @{
            var userAcount = Converter.CookieToUserAccount(User.Identity.Name);
        }
        <form class="form-horizontal" action="~/Employee/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UserID" value="@userAcount.UserID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Họ Tên:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" autofocus name="FullName" value="@userAcount.FullName">
                    @*@Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên người dùng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" autofocus name="UserName" value="@userAcount.UserName">
                    @*@Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00" })*@
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">File Image:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    @*@Html.HiddenFor(m => m.Photo);*@
                    <img id="photo" src="~/@userAcount.Photo" class="img img-bordered" width="304" height="236" />
                </div>
            </div>

            <div class="form-group ">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <button type="button" class="btn btn-info btn-warning" data-toggle="modal" data-target="#changePass">Đổi mật khẩu</button>
                    <a href="~/" class="btn btn-primary">Quay lại</a>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    @Html.ValidationSummary("", new { @style = "color:#f00" })

                </div>
            </div>

        </form>

        <div id="changePass" class="modal fade" role="dialog" >
            <form class="form-horizontal" method="post" action="~/Account/ChangePassword">
                @Html.AntiForgeryToken();
                <div class="modal-dialog" style="width:1000px !important; margin-top: 100px !important">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Đổi mật khẩu</h4>
                        </div>
                        <div class="box-body">
                            <input type="hidden" name="UserName" value="@userAcount.UserName"/>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="margin-top: 20px">Nhập mật khẩu cũ:</label>
                                <div class="col-sm-10" style="margin-top: 20px">
                                    <input type="password" class="form-control" autofocus name="oldPassword" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" style="margin-top: 20px">Nhập mật khẩu mới:</label>
                                <div class="col-sm-10" style="margin-top: 20px">
                                    <input type="password" class="form-control" autofocus name="newPassword" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" style="margin-top: 20px">Nhập lại mật khẩu mới:</label>
                                <div class="col-sm-10" style="margin-top: 20px">
                                    <input type="password" class="form-control" autofocus name="newPasswordAgain" value="">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-warning">Lưu</button>
                            <button class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
 </div>

